/* =============== ESTILOS DE LAS IMÃGENES DE LA TIENDA ================== */
.titulo_secundario {
  width: 100%;
  margin: 20px 0px 15px 0px;
  padding-left: 45px;
  font-family: var(--fuente-titulos);
  text-align: left;
  color: var(--color-neutro);
}

.contenedor_datos {
  width: 100%;
  margin: 0px;
  padding: 2px 45px 20px;
  overflow: hidden;
}

.contenedor_products3d {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.contenedor_parrafo {
  width: 90%;
  margin: 5px 0px 15px;
  font-size: 18px;
  text-align: justify;
  font-family: var(--fuente-parrafos);
  line-height: 28px;
}

/* ====================================================================== */
/* =================== ELEMENTO SWITCH */
.contenedor_inputs_radio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 10px 0px 10px;
  box-sizing: border-box;
  font-family: var(--fuente-parrafos);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  font-size: 17px;
}

.switch:hover {
  cursor: pointer;
}

/* Hide default HTML checkbox */
.switch input {
  width: 0px;
  height: 0px;
  opacity: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--color-default);
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
  background: #0974f1;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #0974f1;
}

.switch input:checked + .slider:before {
  transform: translateX(1.6em);
}

/* ====================================================================== */
/* =================== FORMULARIOS */
.formulario_products3d {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
}

/* =================== FORMULARIO PARA CARGA INDIVIDUAL */
.formUploadSingle {
  padding: 0px 10px;
  animation: showContainer 0.6s ease-in-out 1;
}

.form_header_container {
  width: 100%;
}

.titulo_products3d {
  margin: 0px 0px 8px;
  font-family: var(--fuente-titulos);
}

.max_ten_products {
  display: block;
  width: 100%;
  font-family: var(--fuente-parrafos);
}

/* ------------------------------------------- Contenedor Padre de los items a insertar */
.container_father {
  width: 100%;
}

.container_preview_thumbnail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin: 0px 0px 30px 0px;
  padding: 0px;
  box-sizing: border-box;
  animation: containerItemShow 0.8s ease-in-out 1;
}

@keyframes containerItemShow {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0px);
  }
}

.container_preview {
  width: 40%;
}

.btn_selec_img_ind {
  margin: 15px 0px 0px 5px;
  padding: 10px 26px;
  border: 2px solid var(--color-secundario);
  border-radius: 18px;
  box-sizing: border-box;
  font-family: var(--fuente-parrafos);
  font-size: 18px;
  font-weight: bold;
  background-color: var(--color-primario);
  color: var(--color-secundario);
  transition: 0.3s ease all;
  overflow: hidden;
}

.btn_selec_img_ind:hover {
  border: 2px solid var(--color-primario);
  background-color: var(--color-secundario);
  color: var(--color-primario);
  cursor: pointer;
}

.contenedor_previsualizar_img {
  width: 100%;
  height: 295px;
  min-height: 295px;
  max-height: 400px;
  margin: 0px 0px 0px;
  padding: 0px;
  border: 3px solid var(--color-primario);
  border-radius: 15px;
  box-sizing: border-box;
  overflow: hidden;
}

.previsualizar_img {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.previsualizar_img > img {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  object-fit: contain;
}

/* -------------------- Contenedor Miniaturas */
.container_preview_two {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  overflow: hidden;
}

.image_thumbnail_title_two {
  width: 100%;
  margin: 0px 0px 10px;
  text-align: center;
  font-family: var(--fuente-titulos);
}

.inputFileUp {
  width: 85%;
  margin: 15px 0px;
  padding: 12px 30px;
  border: 2px solid var(--color-secundario);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: var(--fuente-parrafos);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: var(--color-primario);
  color: var(--color-secundario);
  transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease,
    box-shadow 0.3s ease; /* Transiciones suavizadas */
  cursor: pointer;
  display: inline-block;
  position: relative;
  overflow: hidden;
  animation: imgBtnUpShow 0.4s ease-in-out 1;
}

@keyframes imgBtnUpShow {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}

.inputFileUp:hover,
.inputFileUp:focus {
  border: 2px solid var(--color-primario);
  background-color: var(--color-secundario);
  color: var(--color-primario);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.inputFileUp_input {
  display: none; /* Oculta los inputs reales */
}

.image_thumbnail_container {
  width: 100%;
  margin: 0px;
  padding: 0.2rem;
  border-radius: 0px;
  box-sizing: border-box;
  background-color: var(--color-secundario);
  overflow: hidden;
}

.image_thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.image_thumbnail_item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 2px 0px;
  padding: 0px;
  box-sizing: border-box;
  animation: imgItemShow 0.5s ease-in-out 1;
}

@keyframes imgItemShow {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}

.img_thumbnail_container {
  width: 40%;
  height: 90px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.img_thumbnail_container > img {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 2px solid #9e9e9e61;
  object-fit: contain;
}

.image_thumbnail_title {
  text-align: center;
  font-family: var(--fuente-titulos);
}

.delete_product {
  fill: var(--color-terciario);
  transform: translateY(-28px);
  transition: 0.3s ease all;
}

.delete_product:hover {
  padding: 3px;
  fill: var(--color-neutro);
  cursor: pointer;
}

/* ====================================================================== */
/* =================== MODAL PARA SELECCIONAR LAS IMAGENES */
.contenedor_modal_products {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  z-index: 3;
}

/* Modal Content */
.modal-content {
  width: 96%;
  height: 90vh;
  margin: 2% auto;
  padding: 20px;
  border: 1px solid #888;
  background-color: #fefefe;
  animation: showModalProducts 0.5s ease-in-out 1;
  overflow-y: scroll;
}

@keyframes showModalProducts {
  from {
    opacity: 0;
    transform: scale(0, 0);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.selects {
  margin-bottom: 0px;
}

.selects > input {
  width: 20%;
  margin: 4px 0px 15px;
  padding: 10px 12px;
  border: 2px solid rgb(183 183 183 / 70%);
  border-radius: 15px;
  outline: none;
  font-family: var(--fuente-parrafos);
  background-color: var(--color-secundario);
}

.selects > input:focus {
  border: 2px solid var(--color-primario);
}

/* Boton de Cerrar */
.close {
  float: right;
  font-size: 45px;
  font-weight: bold;
  color: var(--color-primario);
  transition: 0.3s ease all;
}

.close:hover,
.close:focus {
  text-decoration: none;
  color: var(--color-neutro);
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  padding: 10px;
  max-width: 1000px;
  margin: auto;
}

.gallery-item {
  height: 15rem;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: 0.1s ease all;
}

.gallery-item:hover,
.gallery-item:focus {
  border: 2px solid var(--color-primario);
  cursor: pointer !important;
}

.gallery-item > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#selectImageBtn {
  position: fixed;
  bottom: 8%;
  right: 3%;
  width: 10%;
  margin: 0px;
  padding: 8px 22px;
  border: 2px solid var(--color-secundario);
  border-radius: 18px;
  box-sizing: border-box;
  font-family: var(--fuente-parrafos);
  font-size: 17px;
  font-weight: bold;
  background-color: var(--color-primario);
  color: var(--color-secundario);
  transition: 0.3s ease all;
  overflow: hidden;
  z-index: 99;
}

#selectImageBtn:hover {
  border: 2px solid var(--color-primario);
  background-color: var(--color-secundario);
  color: var(--color-primario);
  cursor: pointer !important;
}

/* ------------------------------------------- Botones */
.contenedor_datos_botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 12px 0px 0px;
}

.btn_limpiar {
  margin: 0px 5px 0px 0px;
  padding: 12px 30px;
  border: 2px solid var(--color-secundario);
  border-radius: 18px;
  box-sizing: border-box;
  font-family: var(--fuente-parrafos);
  font-size: 18px;
  font-weight: bold;
  background-color: var(--color-terciario);
  color: var(--color-secundario);
  transition: 0.3s ease all;
  overflow: hidden;
}

.btn_aceptar {
  margin: 0px 0px 0px 5px;
  padding: 12px 30px;
  border: 2px solid var(--color-secundario);
  border-radius: 18px;
  box-sizing: border-box;
  font-family: var(--fuente-parrafos);
  font-size: 18px;
  font-weight: bold;
  background-color: var(--color-primario);
  color: var(--color-secundario);
  transition: 0.3s ease all;
  overflow: hidden;
}

.btn_limpiar:hover {
  border: 2px solid var(--color-terciario);
  background-color: var(--color-secundario);
  color: var(--color-terciario);
  cursor: pointer;
}

.btn_aceptar:hover {
  border: 2px solid var(--color-primario);
  background-color: var(--color-secundario);
  color: var(--color-primario);
  cursor: pointer;
}

/* ============================================================= */
/* =============================================== MEDIA QUERIES */
@media (max-width: 1120px) {
  .formulario_products3d {
    width: 100%;
  }

  #selectImageBtn {
    width: 16%;
  }

  .container_preview_two {
    width: 54%;
  }
}

@media (max-width: 998px) {
  .contenedor_previsualizar_img {
    height: 260px;
    min-height: 260px;
  }

  .container_preview_two {
    padding: 14px 16px;
  }

  .inputFileUp {
    margin: 10px 0px;
  }
}

@media (max-width: 770px) {
  .contenedor_parrafo {
    width: 100%;
  }

  .selects > input {
    width: 40%;
  }

  .contenedor_products3d {
    flex-wrap: wrap;
  }

  .formulario_products3d {
    width: 100%;
    overflow: visible;
  }

  #selectImageBtn {
    width: 25%;
  }

  .container_preview_thumbnail {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 18px 0px 35px 0px;
  }

  .container_preview {
    width: 90%;
    margin-bottom: 16px;
  }

  .container_preview_two {
    width: 90%;
  }
}

@media (max-width: 760px) {
  .titulo_secundario {
    padding-left: 0px;
    text-align: center;
  }
}

@media (max-width: 650px) {
  .container_preview {
    width: 100%;
  }

  .container_preview_two {
    width: 100%;
  }
}

@media (max-width: 580px) {
  .titulo_secundario {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 550px) {
  .contenedor_datos {
    padding: 2px 32px 20px;
  }

  .selects > input {
    width: 70%;
  }

  #selectImageBtn {
    width: 45%;
  }
}

@media (max-width: 520px) {
  .titulo_secundario {
    font-size: 28px;
  }
}

@media (max-width: 470px) {
  .contenedor_datos_botones {
    flex-direction: column;
  }

  .btn_limpiar {
    margin: 0px 0px 0px 0px;
    padding: 14px 50px;
  }

  .btn_aceptar {
    margin: 0px 0px 0px 0px;
    padding: 14px 50px;
  }
}

.sombra {
  box-shadow: 1px 1px 5px var(--color-neutro-opacity);
  border-radius: 10px;
  padding: 18px 22px 16px;
}

/* CSS PARA LA TABLAAAAAA */

.container-table100 {
  width: 100%;
  background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
  z-index: 1;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

table td,
table th {
  padding-left: 8px;
}

table thead tr {
  height: 60px;
  background: var(--color-primario);
}

table tbody tr {
  height: 50px;
}

table tbody tr:last-child {
  border: 0;
}

table td,
table th {
  text-align: left;
}

table td.l,
table th.l {
  text-align: right;
}

table td.c,
table th.c {
  text-align: center;
}

table td.r,
table th.r {
  text-align: center;
}

.table100-head th {
  font-family: var(--fuente-titulos);
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: var(--fuente-parrafos);
  font-size: 15px;
  color: gray;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555;
  background-color: #f5f5f5;
  cursor: pointer;
}

.column1 {
  width: auto;
  padding-left: 40px;
}

.column2 {
  width: auto;
}

.column3 {
  width: auto;
}

.column4 {
  width: 110px;
  text-align: right;
}

.column5 {
  width: 170px;
  text-align: right;
}

.column6 {
  width: 222px;
  text-align: right;
  padding-right: 62px;
}

.btn_download_model {
  font-size: 22px;
  margin-left: 5px;
  transition: 0.2s ease all;
}

.btn_download_model:hover {
  color: var(--color-neutro);
}

@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table thead {
    background-color: --var(color-primario);
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: var(--fuente-parrafos);
    font-size: 14px;
    color: #999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  .column4,
  .column5,
  .column6 {
    text-align: left;
  }
  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 4%;
  }
  tbody tr {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }

  table {
    overflow: scroll hidden;
  }

  table td {
    padding-left: 22px;
  }

  .column3 {
    text-align: center;
  }

  .btn_download_model {
    margin-top: 5px;
    margin-left: 0px;
  }
}

.mt-2 {
  margin-top: 2rem;
}

.titulo-table {
  font-family: var(--fuente-titulos);
  font-size: 1.6rem;
  color: var(--color-neutro);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.img_table {
  width: 150px;
  height: 150px;
  border-radius: 12%;
  margin-top: 12px;
}

.required {
  font-family: var(--fuente-parrafos);
}

.dwl-icon {
  width: 30px;
  height: 30px;
}
